--extra-index-url https://download.pytorch.org/whl/cpu
# Core numerical & data handling
numpy
PyYAML
nibabel
simpleitk

# Visualization
matplotlib
tqdm

# Machine learning
torch
torchmetrics
albumentations
monai
segmentation-models-pytorch

# Data access
kagglehub

# Experiment tracking (optional)
# mlflow

# Testing
pytest